<?xml version="1.0" ?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro">
    <webots>
        <plugin type="webots_ros2_control::Ros2Control" />

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu_head</topicName>
            <alwaysOn>true</alwaysOn>
            <inertialUnitName>imu_head</inertialUnitName>
        </plugin>

        <plugin type="webots_ros2_driver::Ros2IMU">
            <enabled>true</enabled>
            <topicName>/imu_body</topicName>
            <alwaysOn>true</alwaysOn>
            <inertialUnitName>imu_body</inertialUnitName>
        </plugin>

    </webots>
    <ros2_control name="WebotsControl" type="system">
        <hardware>
            <plugin>webots_ros2_control::Ros2ControlSystem</plugin>
        </hardware>
        <joint name="pelvis_yaw">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_hip_yaw">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_hip_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_hip_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_knee">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_ankle_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_ankle_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_hip_yaw">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_hip_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_hip_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_knee">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_ankle_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_ankle_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_shoulder_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_shoulder_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_shoulder_twirl">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="right_elbow_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_shoulder_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_shoulder_roll">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_shoulder_twirl">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="left_elbow_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="head_yaw">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
        <joint name="head_pitch">
            <state_interface name="position"/>
            <command_interface name="position"/>
        </joint>
    </ros2_control>  
</robot>

